%h1
  About me.
  %span.grey.subtitle An unbiased, un-official auto-biography, still in progress.

.about_body
  %p
    After <span class="career_trigger" data-target="college">college</span>
    I have spent my time
    <span class="career_trigger" data-target="cooking">cooking</span>,
    <span class="career_trigger" data-target="coding">coding</span>,
    <span class="career_trigger" data-target="music">creating music</span> and in
    <span class="career_trigger" data-target="radio">public radio</span>.

.about_target_container
  #cube.cube-state-initial
    #main.face.open
      .about_main_image_left
      .about_main_image_right
      .clear

    #music.face
      .about_left_blank_black
        %p
          Between
          %span.large_print
            2000
          &amp;
          %span.large_print
            2005
          I was a member of the Newark, NJ based hip-hop crew dälek.

        %p
          While signed to Mike Patton's
          = link_to 'Ipecac', 'http://www.ipecac.com', :target => '_blank'
          record label, I released two critically
          = link_to 'critically', 'http://pitchfork.com/reviews/albums/2148-from-filthy-tongue-of-gods-and-griots/', :target => '_blank'

          = link_to 'acclaimed', 'http://pitchfork.com/reviews/albums/2149-absence/', :target => '_blank'
          LPs and a number of
          = link_to 'collaborative EPs', 'http://www.discogs.com/D%C3%A4lek-vs-Velma-D%C3%A4lek-Vs-Velma/release/1259196', :target => '_blank'
          with artists from around the world.

        %p
          While together, we toured heavily and globally with some of my musical heroes; but our biggest honor and accomplishment has to be the collaborative record we recorded with
          = link_to 'Faust', 'http://pitchfork.com/reviews/albums/3019-derbe-respect-alder-with-dalek/', :target => '_blank'
          &dash; the German musical pioneers who helped establish what is now known as the 'Krautrock' sound.

        %p
          Somewhere along the line I also released a solo effort titled
          = link_to 'Remains.', 'http://www.collide-scope.com/still-remains/', :target => '_blank'
          The album was recorded using turntables and vinyl sources to construct a haunting, atmospheric ambient score - a counterpoint to the heavy beats and aggressive sounds the band was known for.
      .about_music_image_right
      .clear

    #college.face
      .about_college_wide
        .about_college_wide_overlay
          %p
            From
            %span.large_print
              1997
            &dash;
            %span.large_print
              2001
            I attended
            %span.large_print
              Swarthmore College
            where I majored in Sociology and Anthropology and defended a senior thesis titled
            %span.large_print
              'Technology, Self &amp; Society.'

          %p
            My paper documented and explored the emerging musical lexicon developing among NYC turntablists -- musicians who repurpose turntable record players as their main means of expression.

    #coding.face
      .about_coding_wide
      .about_coding_wide_overlay
        %p
          In late
          %span.large_print
            2013
          I enrolled at
          %span.large_print
            General Assembly
          's Web Development Immersive program where I studied several technologies including:

        %p.tech_cred_full_width
          %span.tech_cred_print
            Ruby

          %span.tech_cred_print
            Rails

          %span.tech_cred_print
            Javascript

          %span.tech_cred_print
            jQuery

          %span.tech_cred_print
            MySQL

          %span.tech_cred_print
            Postgres

          %span.tech_cred_print
            HTML5

          %span.tech_cred_print
            CSS3

          %span.tech_cred_print
            SASS

          %span.tech_cred_print
            HAML

          %span.tech_cred_print
            Git

          %span.tech_cred_print
            Heroku

          %span.tech_cred_print
            AWS

        %p
          I went on to become the
          %span.large_print
            1st engineer hire
          at a start-up called
          = link_to 'Justworks', 'http://www.justworks.com', :target => '_blank'
          &dash; a payroll platform that allowed companies to pay their employees through an easy, online interface -- avoiding large fees from companies like ADP.

        %p
          You can see my
          = link_to 'resume', resume_path
          online or download using the link below.

    #cooking.face
      .about_main_image_left
      .about_main_image_right
      .clear

    #radio.face
      .about_radio_wide



