<!DOCTYPE html>
<html>
  <head>
    <title>Hsi-Chang Lin | Web Developer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/rzw1ddv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= render 'navbar' %>

    <div class="site_container">

      <%= yield %>

      <footer>
        &copy; HCL2014
      </footer>

    </div>

  </body>

  <div id="footnotes_holder"></div>
</html>
